* {
  margin: 0;
  box-border: box-sizing;
  -webkit-font-smoothing: antialiased!important;
  text-rendering: optimizeLegibility!important;
}

@font-face {
  font-family: 'Andale';
  src: url('https://mi-ji.com.au/ANDALEMO.woff') format('woff');
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Andale', times;
  font-size: .9rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: end;
}
footer div p {
  width: 25%;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

header {
  height: 50px;
  padding: 10px;
}

header p {
  float: left;
}

header img {
  float: right;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  
  * {
    font-size: 20px;
  }
  
  footer div {
    align-items: flex-start;
    flex-direction: column;
  }
  
  footer div p {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }
}
