/***************************************** GLOBALS */

@font-face {
	font-family: "Andale";
	src: url("https://mi-ji.com.au/ANDALEMO.woff") format("woff");
	font-display: swap
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Andale", times;
	font-size: 0.9rem;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
}

body {
	background: white;
	transition: .8s;
	min-height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

a {
	color: initial;
	text-decoration: none;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

.mobile {
	display:  none;
}

/***************************************** TOP */

header {
		height: 30px;
		width: 100%;
		padding: 1px 10px; 
		background: white;
		position: fixed;
		z-index: 40;
		/* display: flex; */
		/* align-items: center; */
}

header p {
		float: left;
		line-height: 30px;
}

header img {
		float: right;
		height: 100%;
}

/***************************************** BOTTOM */

footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		transition: 2s;
		z-index: 20;
}

footer div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: end;
}

footer div p {
		width: 25%;
		padding: 10px 10px 10px 10px;
		text-align: left;
}

#office {order: 1;}
#millie {order: 2;}
#jimmy {order: 3;}
#rego {order: 4;}

/***************************************** COLOURS

.red .carousel {background: rgb(255, 80, 0);}
.grey .carousel {background: rgb(241, 241, 241);}
.green .carousel {background: rgb(0, 200, 80);}
.pistachio .carousel {background: rgb(245, 245, 200);}
.yellow .carousel {background: rgb(250, 240, 0);}
.pink .carousel {background: rgb(255, 175, 195);} */


.red .words-box {background: rgb(255, 80, 0);}
.grey .words-box {background: rgb(241, 241, 241);}
.green .words-box {background: rgb(0, 200, 80);}
.pistachio .words-box {background: rgb(245, 245, 200);}
.yellow .words-box {background: rgb(250, 240, 0);}
.pink .words-box {background: rgb(255, 175, 195);}

/***************************************** CURSORS */

.red .photo {cursor: url(/assets/cursor_red.svg), pointer;}
.grey .photo {cursor: url(/assets/cursor_grey.svg), pointer;}
.green .photo {cursor: url(/assets/cursor_green.svg), pointer;}
.pistachio .photo {cursor: url(/assets/cursor_pistachio.svg), pointer;}
.yellow .photo {cursor: url(/assets/cursor_yellow.svg), pointer;}
.pink .photo {cursor: url(/assets/cursor_pink.svg), pointer;}

.red .plan {cursor: url(/assets/cursor_red_image.svg), pointer;}
.grey .plan {cursor: url(/assets/cursor_grey_image.svg), pointer;}
.green .plan {cursor: url(/assets/cursor_green_image.svg), pointer;}
.pistachio .plan {cursor: url(/assets/cursor_pistachio_image.svg), pointer;}
.yellow .plan {cursor: url(/assets/cursor_yellow_image.svg), pointer;}
.pink .plan {cursor: url(/assets/cursor_pink_image.svg), pointer;}

/***************************************** SCROLL THINGS */

.swiper {
  display: inline-block;
  float: left;
  width: 100vw;
  height: 100vh; 
  background: ;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  position: fixed;
  top: 29px;
}

/*.swiper-slide {
  height: unset;
  width: 400px;
}*/

.column {
		width: 400px;
		height: 600px; 
		padding: 0;
		margin: 0;
}

/* not sure aboout this*/
.swiper-slide img {
	  width: 100%;
	  display: block;
	  margin: 0;
}

.carousel img {
	  width: 400px;
	  height: auto;
}

.photo {
		position: relative;
}

.photo,
.plan {
		overflow: hidden;
		transition: height 1s ease-out;
		height: auto;
}

.photo .clear {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
}

.photo:hover .clear {
		opacity: 1;
}

.column .words-box {
  	display: none;
}

.column:hover .words-box {
  	display: block;
}

.words-box {
    position: relative;
    top: -2px;
    box-shadow: rgb(255 255 255) 0px -6px 0px 0px inset;
}

.words {
    width: 100%;
    position: relative;
    top: -3px;
    z-index: 2;
}



/***************************************** MEDIA QUERY DESKTOP */

@media only screen and (max-height: 750px) {
	.swiper-slide  {
		width: 300px;
	}

	.column {
		width: 300px;
	    height: auto;
	}

	.photo img,
	.plan img,
	.blur img {
	    width: 300px;
	    height: auto;
	}
}

@media only screen and (max-height: 600px) {
	.swiper-slide {
		width: 200px;
		height: auto;
	}

	.column {
		width: 200px;
	    height: auto;
	}

	.photo img,
	.plan img,
	.blur img {
		    width: 200px;
		    height: auto;
	}

}


/***************************************** MEDIA QUERY MOBILE */

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) {

/***************************************** TOP */



	footer div {
	  	align-items: flex-start;
	  	flex-flow: row wrap;
	}

	footer div p {
	  	padding: 10px;
	  	flex: 1 50%;
	}

	  * {
	    font-size: .93em;
	  }

	  header {
	    height: 40px;
	    padding: 1px 10px 20px 10px;
	  }

	  header p {
		    line-height: unset;
		    width: 80%;
		    padding: 5px 0px 0px 0px;
	  }

		header img {
			  float: right;
			  height: 25px;
		}

/***************************************** BOTTOM */






footer {
    position: fixed;
    bottom: 30%;
    height: 100vh;
    width: 100%;
    		transition: 1s;
 		background: rgba(255, 255, 255, 0.95);
}
	  footer div {
		    align-items: flex-start;
		    flex-flow: row wrap;
		    position: absolute;
    bottom: 0;
	  }

	  	  footer div p {
		    padding: 10px;
		    flex: 1 50%;
	  }

*/

  #millie {order: 1;}
  #jimmy {order: 2;}
  #office {order: 3;}
  #rego {order: 4;}

	.words {
	    background: pink;
	    position: fixed;
	    top: unset;
	    bottom: 0px;
	    z-index: 10;
	    width: 100%;
	    padding: 5px 10px 20px 10px;
	}

	.newswiper {
		  height: 100vh;
		  overflow: hidden;
		  padding: 10px;
		  z-index: 1;
	}

	.swiper-slide {
	  	height: unset;
	  	width: unset;
	}

	.swiper-slide img {
		  width: 100%;
		  display: block;
		  margin: 0;
		  filter: grayscale(1);
	}

	.swiper-slide-active img{
	  	filter: grayscale(0);
	}

	/* Slideshow container */
	.slideshow-container {
		  position: relative;
		  margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
		  display: none;
		  z-index: -1;
	}

	/* Next & previous buttons */
	.prev,
	.next {
    z-index: 15;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 40px 10px;
    /* transition: 0.6s ease; */
    transform: translateY(-50%);
    user-select: none;
  }

	.prev img,
	.next img {
    height: 25px;
	}

	.prev {
	  	left: 0;
	}

	/* Position the "next button" to the right */
	.next {
	  	right: 0;
	}

	/* Fading animation */
	.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
	  from {
	    opacity: 0.4;
	  }
	  to {
	    opacity: 1;
	  }
	}

	@keyframes fade {
	  from {
	    opacity: 0.4;
	  }
	  to {
	    opacity: 1;
	  }
	}
}
