/***************************************** GLOBALS */

@font-face {
	font-family: "Andale";
	src: url("https://mi-ji.com.au/ANDALEMO.woff") format("woff");
	font-display: swap
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Andale", times;
	font-size: 0.9rem;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
}

html {
  height: 100%;
}

body {
	position:absolute; top:0; bottom:0; right:0; left:0;
	background: white;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: 0.8s ease;
}

a {
	color: initial;
	text-decoration: none;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

.mobile {
	display:  none;
}

/***************************************** TOP */

header {
		height: 30px;
		width: 100%;
		padding: 1px 10px; 
		background: white;
		position: fixed;
		z-index: 40;
		/* display: flex; */
		/* align-items: center; */
}

header p {
		float: left;
		line-height: 30px;
}

header img {
		float: right;
		height: 100%;
}

/***************************************** BOTTOM */

footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 20;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: 1.5s ease;
}

footer div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: end;
}

footer div p {
		width: 25%;
		padding: 10px 10px 10px 10px;
		text-align: left;
}

#office {order: 1;}
#millie {order: 2;}
#jimmy {order: 3;}
#rego {order: 4;}

/***************************************** COLOURS

.red .carousel {background: rgb(255, 80, 0);}
.grey .carousel {background: rgb(241, 241, 241);}
.green .carousel {background: rgb(0, 200, 80);}
.pistachio .carousel {background: rgb(245, 245, 200);}
.yellow .carousel {background: rgb(250, 240, 0);}
.pink .carousel {background: rgb(255, 175, 195);} */


.red .words-box {background: rgb(255, 80, 0);}
.grey .words-box {background: rgb(241, 241, 241);}
.green .words-box {background: rgb(0, 200, 80);}
.pistachio .words-box {background: rgb(245, 245, 200);}
.yellow .words-box {background: rgb(250, 240, 0);}
.pink .words-box {background: rgb(255, 175, 195);}

/***************************************** CURSORS */

.red .photo {cursor: url(/assets/cursor_red.svg), pointer;}
.grey .photo {cursor: url(/assets/cursor_grey.svg), pointer;}
.green .photo {cursor: url(/assets/cursor_green.svg), pointer;}
.pistachio .photo {cursor: url(/assets/cursor_pistachio.svg), pointer;}
.yellow .photo {cursor: url(/assets/cursor_yellow.svg), pointer;}
.pink .photo {cursor: url(/assets/cursor_pink.svg), pointer;}

.red .plan {cursor: url(/assets/cursor_red_image.svg), pointer;}
.grey .plan {cursor: url(/assets/cursor_grey_image.svg), pointer;}
.green .plan {cursor: url(/assets/cursor_green_image.svg), pointer;}
.pistachio .plan {cursor: url(/assets/cursor_pistachio_image.svg), pointer;}
.yellow .plan {cursor: url(/assets/cursor_yellow_image.svg), pointer;}
.pink .plan {cursor: url(/assets/cursor_pink_image.svg), pointer;}

/***************************************** SCROLL THINGS */

.swiper {
  display: inline-block;
  float: left;
  width: 100vw;
  height: 100vh; 
  background: ;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  position: fixed;
  top: 29px;
}

/*.swiper-slide {
  height: unset;
  width: 400px;
}*/

.column {
		width: 400px;
		height: 600px; 
		padding: 0;
		margin: 0;
}

/* not sure aboout this*/
.swiper-slide img {
	  width: 100%;
	  display: block;
	  margin: 0;
}

.carousel img {
	  width: 400px;
	  height: auto;
}

.photo {
		position: relative;
}

.photo,
.plan {
		overflow: hidden;
		height: auto;
		-webkit-transition: all 1s ease-out;
		-moz-transition: all 1s ease-out;
		-ms-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		transition: 1s ease-out;
}

.photo .clear {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
}

.column .words-box {
  	display: none;
}

.column:hover .words-box {
  	display: block;
}

.words-box {
    position: relative;
    top: -2px;
    z-index: 10;
    -webkit-box-shadow: rgb(255 255 255) 0px -6px 0px 0px inset;
		-moz-box-shadow: rgb(255 255 255) 0px -6px 0px 0px inset;
		-ms-box-shadow: rgb(255 255 255) 0px -6px 0px 0px inset;
		-o-box-shadow: rgb(255 255 255) 0px -6px 0px 0px inset;
    box-shadow: rgb(255 255 255) 0px -6px 0px 0px inset;
}

.words {
    width: 100%;
    position: relative;
    top: -3px;
    z-index: 10;
}

/***************************************** MEDIA QUERY DESKTOP */

@media only screen and (min-width: 500px) {
		.photo:hover .clear {
				opacity: 1;
		}
}

/***************************************** MEDIA QUERY DESKTOP SMALL */

@media only screen and (max-height: 750px) {
	.swiper-slide  {
			width: 300px;
	}

	.column {
			width: 300px;
	    height: auto;
	}

	.photo img,
	.plan img,
	.blur img {
	    width: 300px;
	    height: auto;
	}
}

/***************************************** MEDIA QUERY DESKTOP SMALLER */

@media only screen and (max-height: 600px) {

	.swiper-slide {
			width: 200px;
			height: auto;
	}

	.column {
			width: 200px;
	    height: auto;
	}

	.photo img,
	.plan img,
	.blur img {
		    width: 200px;
		    height: auto;
	}

}


/***************************************** MEDIA QUERY MOBILE */

@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 812px) {

/***************************************** GENERAL */

	  * {
		    font-size: .93em;
	  }


/* delete this */
		img {
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
		}

/***************************************** TOP */

	  header {
		    height: 40px;
		    padding: 1px 10px 20px 10px;
	  }

	  header p {
		    line-height: unset;
		    width: 80%;
		    padding: 5px 0px 0px 0px;
	  }

		header img {
			  float: right;
			  height: 25px;
		}

/***************************************** BOTTOM */

		footer {
				position: fixed;
				bottom: 30%;
				height: 100vh;
				width: 100%;
				background: rgba(255, 255, 255, 0.95);
				-webkit-transition: all 1s ease;
				-moz-transition: all 1s ease;
				-ms-transition: all 1s ease;
				-o-transition: all 1s ease;
				transition: 1s ease;
		}
		footer div {
				align-items: flex-start;
				flex-flow: row wrap;
				position: absolute;
				bottom: 0;
		}

		footer div p {
				padding: 10px;
				flex: 1 50%;
		}

		#millie {order: 1;}
		#jimmy {order: 2;}
		#office {order: 3;}
		#rego {order: 4;}

/***************************************** WORDS */

		.words-box {
				position: fixed;
				top: unset;
				bottom: 0px;
		}

		.words {
				display: block;
		    margin: 0px 10px;
		  	border-bottom: 10px solid white;
		}

/***************************************** SWIPERS */

		/* Slideshow container - (flick between project) */
		.slideshow-container {
				height: 100%;
			  position: relative;
			  margin: auto;
		}

		/* project container */
		.mySlides {
				height: 100%;
			  display: none;	/* Hide the images by default */
			  z-index: -1;
		}

		/* vertical swiper - could possibly merge with mySlides above */
		.newswiper {
				height: 100%; /* from 100vh  or 200vh*/ 		   /* transform: translateY(-50vh);  added with above */
		    overflow: hidden;
		    padding: 10px;
		    z-index: 1;
		}

		.swiper-slide {
		  	height: unset;
		  	width: unset;
		}

		.swiper-slide img {
			  width: 100%;
			  height: auto;
			  display: block;
			  margin: 0;
		}
		
		.swiper-slide-active .clear {
		  	opacity: 1;
		}

		.tina {
	    	padding: 0px 10px;
		}

		.tina img {
				width: 100%; 
				height: auto;
		}

		.prev,
		.next {
		    z-index: 15;
		    position: fixed;
		    top: 50%;
		    width: auto;
		    padding: 40px 15px;
		    /* transition: 0.6s ease; */
		    transform: translateY(-50%);
		    user-select: none;
	  }

		.prev img,
		.next img {
	    	height: 25px;
		}

		.prev {
		  	left: 0;
		}

		.next {
		  	right: 0;
		}

		.fade {
			  -webkit-animation-name: fade;
			  -webkit-animation-duration: 1.5s;
			  animation-name: fade;
			  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {
		    opacity: 0.4;
		  }
		  to {
		    opacity: 1;
		  }
		}

		@keyframes fade {
		  from {
		    opacity: 0.4;
		  }
		  to {
		    opacity: 1;
		  }
		}
}
